ul.list-group
  li.list-group-item = link_to 'Merchants', admins_merchants_path, class: 'btn btn-primary'
  li.list-group-item = link_to 'Transactions', admins_transactions_path, class: 'btn btn-primary'
