h4.h4.mb-5 Your balance: #{current_user.customer_bank_account.balance}

= render partial: 'shared/transactions', locals: { transactions: @transactions || TransactionsPresenter.new(current_user.transactions) }
